DATABASE_URL="postgresql://postgres:postgres@localhost:5432/marketplace?schema=public"

REDIS_HOST=localhost
REDIS_PORT=6379

MEILISEARCH_URL=http://localhost:7700

JWT_ACCESS_SECRET="access_secret_key"
JWT_REFRESH_SECRET="refresh_secret_key"

PORT=3001
CLIENT_URL=http://localhost:5173
