DATABASE_URL="postgresql://postgres:postgres@localhost:5432/marketplace?schema=public"

JWT_ACCESS_SECRET='insiders_jwt'
JWT_REFRESH_SECRET='insiders_refresh_jwt'
PORT=3001

CLIENT_URL=http://localhost:5173